/* ^.theme-entry .... for desktop devices */

/* ^.mobile .theme-entry .... for touch devices */

/*Theme@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  
}
/*Images - normal*/

@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate .input-control-img {
    background-position: 0 -324px;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate:hover .input-control-img {
    background-position: 0 -352px;
  }
  /* #region Readonly */
  
  /* prevent checkbox hover state to change while readonly */
  
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox:hover .input-control-img {
    background-position: 0 -156px;
    cursor: default;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.indeterminate:hover .input-control-img {
    background-position: 0 -324px;
    cursor: default;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.checked:hover .input-control-img {
    background-position: 0 -184px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox:hover .input-control-img {
    background-position: 0 -156px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.indeterminate:hover .input-control-img {
    background-position: 0 -324px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.checked:hover .input-control-img {
    background-position: 0 -184px;
    cursor: default;
  }
  /* #endregion Readonly */
  
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate .input-control-img,
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate:hover .input-control-img {
    background-position: 0 -240px;
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate .input-control-img,
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView label.input-control.indeterminate:hover .input-control-img {
    background-position: 0 -240px;
  }
  /* #region Readonly */
  
  /* prevent checkbox hover state to change while readonly */
  
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox:hover .input-control-img {
    background-position: 0 -156px;
    cursor: default;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.indeterminate:hover .input-control-img {
    background-position: 0 -324px;
    cursor: default;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.checked:hover .input-control-img {
    background-position: 0 -184px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox:hover .input-control-img {
    background-position: 0 -184px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.indeterminate:hover .input-control-img {
    background-position: 0px -422px;
    cursor: default;
  }
  .mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly label.input-control.checkbox.checked:hover .input-control-img {
    background-position: 0 -252px;
    cursor: default;
  }
  /* #endregion Readonly */
}
/* #region RESPONSIVE BREAKING POINTS */

/* #region DESKTOP */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar td.cp-searchbar-cell {
  height: auto;
  /*override sf toolbar css*/

}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .dropdown-td-width {
  padding-right: 0;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-item-container:focus {
  background-color: transparent;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node > .content > .header {
  border-radius: var(--tree-item-rounding);
  min-height: var(--main-text-size);
  padding-left: var(--control-inset-narrow-horizontal-spacing);
  padding-right: var(--control-inset-narrow-horizontal-spacing);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node > .content > .header .text {
  padding-top: var(--control-inset-narrow-vertical-spacing);
  padding-bottom: var(--control-inset-narrow-vertical-spacing);
  line-height: normal;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node > .content > .header:hover {
  background-color: var(--tree-item-hover-background-color);
  border-color: var(--tree-item-hover-border-color);
  color: var(--tree-item-hover-text-color);
  cursor: default;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.selected > .content > .header {
  background-color: var(--tree-item-selected-background-color);
  border-color: var(--tree-item-selected-border-color);
  color: var(--tree-item-selected-text-color);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.readonly .node.selected > .content > .header:hover {
  background-color: var(--tree-item-selected-background-color);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.focus > .content > .header {
  border-width: 1px;
  border-style: dotted;
  border-color: var(--tree-item-focus-border-color);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView.disabled .node > .content > .header {
  pointer-events: none;
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .highlight {
  background-color: var(--search-highlight-background-color);
  color: var(--search-highlight-text-color);
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-results {
  background-color: var(--input-background-color);
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-results div.watermark {
  margin: 0px;
  padding-top: var(--control-inset-vertical-spacing);
  padding-bottom: var(--control-inset-vertical-spacing);
  padding-left: var(--control-inset-horizontal-spacing);
  padding-right: var(--control-inset-horizontal-spacing);
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-results span.watermark {
  margin: 0px;
  padding: 0px;
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .top-seperator {
  border-color: var(--input-border-color);
}
.SourceCode-Forms-Controls-Web-ControlPack-TreeView .checkbox-parent {
  margin-left: auto;
}
.theme-entry .sfc-treeview.populating-indicator {
  background-image: url("RuntimeTheme/LoadingAnimation_Dark16.gif");
}
.theme-entry .sfc-treeview.populating-indicator.showSearch {
  top: 39px;
}
.theme-entry .sfc-treeview.populating-indicator.showSearchExpanded {
  top: 61px;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .text.with-image {
  padding-top: 0;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .expander {
  top: 0;
}
.theme-entry .sfc-treeview.populating-indicator.scrollbar {
  right: 19px;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-bar {
  background-color: transparent;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper div.search-bar {
  font-size: 1.2rem;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper {
  background-color: var(--input-background-color);
  border-color: var(--input-border-color);
  border-radius: var(--input-rounding);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper.invalid {
  background-color: var(--input-error-background-color);
  border-color: var(--input-error-border-color) !important;
  /*important will overide user configured styles */

}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-item-container:hover {
  background-color: var(--tree-item-hover-background-color);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .search-item-container:focus {
  border-color: var(--tree-item-focus-border-color);
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .cp-searchbar .input-control.select-box .input-control-buttons {
  right: 0;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .cp-searchbar .input-control.select-box .input-control-buttons a.dropdown {
  width: calc(var(--main-text-size) + (2 * var(--control-inset-vertical-spacing)));
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper {
  width: calc(var(--main-text-size) + (2 * var(--control-inset-vertical-spacing)));
  display: flex;
  align-items: center;
  justify-content: center;
}
.SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .hideSearchButton .search-button-wrapper,
.SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .hideClearSearchButton .clear-search-button-wrapper {
  display: none;
}
/* #endregion DESKTOP*/

/* #region TOUCH */

/* #endregion TOUCH */

/* Extra Small Devices, Phones */

@media only screen and (max-width: 360px) and (orientation: portrait), only screen and (max-width: 640px) and (orientation: landscape) {
  
}
/* Extra Small Devices */

@media only screen and (max-width: 360px) and (orientation: portrait) {
  
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
  
}
/*#endregion RESPONSIVE BREAKING POINTS */

