/* ^.theme-entry .... for desktop devices */

/* ^.mobile .theme-entry .... for touch devices */

/*Theme@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper .PART_SearchButton {
    background-image: url("../../_dynamic/Toolbar/Search16@2x.png");
    -moz-background-size: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper:hover .PART_SearchButton {
    background-image: url("../../_dynamic/Toolbar/Search16White@2x.png");
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper .PART_ClearSearchButton {
    background-image: url("../../_dynamic/Toolbar/ClearIcon16@2x.png");
    -moz-background-size: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper:hover .PART_ClearSearchButton {
    background-image: url("../../_dynamic/Toolbar/ClearIconsWhite16.png");
  }
}
/*Images - normal*/

@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper .PART_SearchButton {
    background-image: url("../../_dynamic/Toolbar/Search16.png");
    -moz-background-size: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper:hover .PART_SearchButton {
    background-image: url("../../_dynamic/Toolbar/Search16White.png");
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper .PART_ClearSearchButton {
    background-image: url("../../_dynamic/Toolbar/ClearIcon16.png");
    -moz-background-size: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 22px;
  }
  .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper:hover .PART_ClearSearchButton {
    background-image: url("../../_dynamic/Toolbar/ClearIconsWhite16.png");
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  
}
/* #region RESPONSIVE BREAKING POINTS */

/* #region DESKTOP */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper {
  width: 2.2rem;
  height: 2.2rem;
  border-color: var(--input-border-color);
  border-left: none;
  background: none;
}
/* button hover style */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper:hover,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper:hover {
  background-color: var(--input-button-hover-background-color);
}
/* when textbox is focused, change the color of search button as well */

/* when textbox is focused, change the color of cancel search button as well */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar.focus .search-button-wrapper,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar.focus .clear-search-button-wrapper {
  border-color: var(--input-focus-border-color);
}
/* expand/collapse icon for advanced search option*/

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .cp-searchbar .PART_ExpanderButton {
  background-image: url("../../_dynamic/RuntimeTheme/PDExpand16.png");
  -moz-background-size: 16px;
  background-size: 16px;
  margin-left: 0px;
  margin-top: 0px;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .cp-searchbar .PART_ExpanderButton.expanded {
  background-image: url("../../_dynamic/RuntimeTheme/PDCollapse16.png");
  -moz-background-size: 16px;
  background-size: 16px;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .cp-searchbar .button-wrapper {
  width: calc(var(--main-text-size) + (2 * var(--control-inset-vertical-spacing)) - (2 * 1px));
  height: calc(var(--main-text-size) + (2 * var(--control-inset-vertical-spacing)) - (2 * 1px));
  display: flex;
  align-items: center;
  justify-content: center;
}
/* by default where search and clear search button coexist, search button should not have right border */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .search-button-wrapper {
  border-right-width: 0;
}
/* when clear search button is disabled, be sure to add a right border to the search button */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .hideClearSearchButton .search-button-wrapper {
  border-right-width: 0.1rem;
}
/* lengthy selector to override SmartForms radius setting */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .cp-searchbar-cell-input .input-control.text-input:not(.control-group-container) .input-control-m-c {
  border-right-width: 0;
  border-radius: var(--input-rounding) 0 0 var(--input-rounding);
}
/* move the clear button 'x' icon to left */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper {
  border-radius: 0 var(--input-rounding) var(--input-rounding) 0;
}
html[dir=rtl] .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .clear-search-button-wrapper {
  border-radius: var(--input-rounding) 0 0 var(--input-rounding);
}
/* lengthy selector to override SmartForms radius setting */

html[dir=rtl] .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .cp-searchbar-cell-input .input-control.text-input:not(.control-group-container) .input-control-m-c {
  border-left-width: 0;
  border-right-width: 0.1rem;
  border-radius: 0 var(--input-rounding) var(--input-rounding) 0;
}
/* when clear search button is disabled, ensure to swap the left and right border style for RTL */

html[dir=rtl] .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar .hideClearSearchButton .search-button-wrapper {
  border-right-width: 0;
  border-left: 0.1rem solid var(--input-border-color);
}
/* when textbox is focused, change the color of cancel search button as well */

html[dir=rtl] .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar.focus .search-button-wrapper {
  border-color: var(--input-focus-border-color);
}
/* #endregion DESKTOP*/

/* #region TOUCH */

/* #endregion TOUCH */

/* Extra Small Devices, Phones */

@media only screen and (max-width: 360px) and (orientation: portrait), only screen and (max-width: 640px) and (orientation: landscape) {
  
}
/* Extra Small Devices */

@media only screen and (max-width: 360px) and (orientation: portrait) {
  
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
  
}
/*#endregion RESPONSIVE BREAKING POINTS */

