/*#region DROPTEXTBOX CONTROL */

/* Textbox control where you can drop controls, SMOs, etc
Can be found in: List view - Filter config - Add - Advanced - Add condition */

.theme-entry .drop-textbox {
  padding: 0.1rem 0.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.theme-entry .drop-item,
.theme-entry .drop-object,
.theme-entry .drop-text {
  font-size: 1.6rem;
}
.theme-entry .drop-textbox .drop-item {
  background-position: 2px 50%;
}
/*#endregion DROPTEXTBOX*/

